ComparateurWS/WebContent/WEB-INF/services/ComparateurWS/META-INF/ComparateurWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ComparateurWS" targetNamespace="http://www.example.org/ComparateurWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/ComparateurWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ComparateurWS/">
      <xsd:element name="compare">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="compareResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="estSousChaine" type="xsd:boolean"/>
          	<xsd:element name="positionSousChaine" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="compareRequest" type="tns:compareRequestType">
      </xsd:element>

      <xsd:complexType name="compareRequestType">
      	<xsd:sequence>
      		<xsd:element name="chaine" type="xsd:string"/>
      		<xsd:element name="sousChaine" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="compareRequest">
    <wsdl:part name="parameters" element="tns:compareRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="compareResponse">
    <wsdl:part name="parameters" element="tns:compareResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ComparateurWSPortType">
    <wsdl:operation name="compare">
      <wsdl:input message="tns:compareRequest">
    </wsdl:input>
      <wsdl:output message="tns:compareResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComparateurWSBinding" type="tns:ComparateurWSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="compare">
      <soap:operation soapAction="http://www.example.org/ComparateurWS/compare"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComparateurWS">
    <wsdl:port name="ComparateurWSSOAPPort" binding="tns:ComparateurWSBinding">
      <soap:address location="http://localhost:8080/ComparateurWS/services/ComparateurWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
